<div class="container">
  <div>
    <h2>My lists</h2>
    <p class="btn-create" style="width:250px"><%= link_to 'Create a new list', new_list_path %></p>
  </div>

  <% @lists.each do |list| %>
    <div class="card card-list">
      <div class="card-body">
        <h3 class="card-title"><%= link_to list.name, list %></h3>
      </div>
    </div>
  <% end %>
</div>
