<div class="footer">
  <div>
    <h6>Made for LeWagon in Shanghai</h6>
      <a class=social href="https://github.com/andris811" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
  </div>
</div>
