<div class="banner-container mb-3">
  <div class="banner-nav-bar">
    <h1><%= link_to 'Tracked', root_path %></h1>
    <div>
      <ul class="banner-ul">
        <li class="btn-my"><%= link_to 'Movies', movies_index_path %></li>
        <li class="btn-my"><%= link_to 'My lists', lists_path %></li>
        <li class="btn-my"><%= link_to 'New list', new_list_path %></li>
      </ul>
    </div>
  </div>
</div>
