<div class="banner-container mb-3">
  <div class="banner-nav-bar">
    <h1><%= link_to 'Tracked', root_path %></h1>
    <div>
      <ul class="banner-ul cards">
        <%= link_to movies_index_path do %>
          <li class="btn-my">Movies</li>
        <% end %>
        <%= link_to lists_path do %>
          <li class="btn-my">My lists</li>
        <% end %>
        <%= link_to new_list_path do %>
          <li class="btn-my">New list</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
