.movies-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
  margin-bottom: 70px;
  align-items: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .movies-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .movies-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.movie-content{
  border-radius: 20px;
  display: flexbox;
  background-color: #fff;
  padding: 30px;
}

.box-poster{
  width: 250px;
  margin: auto;
}

.img-poster{
  width: 250px;
  margin: 10px 0;
  border: 1px solid #E8E8E8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.movie-display{

  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.movie-title{
  text-transform: uppercase;
  font-weight: bold;
}

.img-banner{
  width:100%;
  // height:100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}
