.movies-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
  margin-bottom: 70px;
}

.movie-content{
  border-radius: 20px;
  display: flexbox;
  background-color: #fff;
  padding: 30px;
}

.box-poster{
  width: 250px;
}

.img-poster{
  width: 250px;
  margin: 10px 0;
  border: 1px solid #E8E8E8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.movie-display{

  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.movie-title{
  text-transform: uppercase;
  font-weight: bold;
}
